header {
    background-color: #f1bc29;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #f1bc29;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    margin: 0 16px;
    font-size: 24px;
}

.maquiagem-imagem{
    width: 25%;
}

.maquiagem{
    background-image: linear-gradient(#f1bc29, #df56d3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.maquiagem-div-conteudo{
    whidth: 35%;
}

.maquiagem-titulo{
    padding: 24px 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.maquiadora-imagem{
    width: 360px;
}

.maquiadora-icone{
    width: 34px;
    padding: 12px 18px;
}

.maquiadoras-div{
    text-align: center;
    padding: 16px 0;
}