header{
    background-color: orange;
    color: white;
}

.cabecalho-imagem{
    width: 18%;
}

.cabecalho{
    background-color: orange;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
}

.sobremaquiagem-imagem{
    width: 38%;
}

.sobremaquiagem{
    background-image: linear-gradient(orange, rgb(196, 41, 67));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.sobremaquiagem-div-conteudo{
    width: 35%;
}

.sobremaquiagem-titulo{
    padding: 24px 0;
}